body {
    background-image: url(" ");
    background-color:#d2c6c6;
     
}
header {
    background-color: red;
    color: #fff;
    top:0;
    left:0;
    right:0;
    
     
    
}
footer {
 
    background-color: #222;
    padding: 30px;
    bottom:0;
    position: fixed;
    width:100%;
    color:white;
    text-align:center;
    left:0;
    right:0;

}
